# IDE
.idea/
.vs/

# Planning files
escape.md
escape.puml

# Node Modules
node_modules/
npm-debug.log

# Local configuration
foundryconfig.json

# Distribution files
dist

# ESLint
.eslintcache

# Junit results
junit.xml
