<div id="sidebar-timer" class="timer">
    {{#if user.isGM }}
    <div id="timer-controls">
        <a class="control" title="{{localize 'TIMER.Reset'}}" id="timer-reset"><i class="fas fa-history"></i></a>
        <!-- <a class="control" title="{{localize 'TIMER.Run'}}"><i class="fas fa-play"></i></a>
        <a class="control" title="{{localize 'TIMER.Pause'}}"><i class="fas fa-pause"></i></a> -->
        <a class="control" title="{{localize 'TIMER.Adjust'}}"><i class="fas fa-calculator"></i></a>
    </div>
    {{/if}}
    <div id="time-remaining" {{#if neg }}class="neg"{{/if}}>
        <span id="timer-hour">{{time.hour}}</span>
        <span>:</span>
        <span id="timer-min">{{time.min}}</span>
        <span>:</span>
        <span id="timer-sec">{{time.sec}}</span>
    </div>
</div>