/* ---------------------------- */
/*             Sass             */
/* This is your Sass entry file */
/* ---------------------------- */

/* ---------------------------- */
/* SIDEBAR                      */
/* ---------------------------- */
#sidebar-tabs {
    .spacer, .item {
        flex: 1;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    #sidebar.collapsed & {
        flex: 1;
        flex-direction: column;
    }
}