/* ---------------------------- */
/*             Sass             */
/* This is your Sass entry file */
/* ---------------------------- */

/* ---------------------------- */
/* SIDEBAR                      */
/* ---------------------------- */

#sidebar {
    height: auto;
    max-height: 99vh;
    
    #sidebar-timer {
        flex: 0;
        text-align: center;
        padding: 5px;
        display: flex;
        flex-direction: row;
        text-shadow: 0em 0em 0.25em black;

        #timer-controls {
            display: flex;
            width: 2ch;
            flex: 0;
            text-align: center;
            flex-direction: column;
            justify-content: center;

            a {
                flex: 1;
                //height: 32px;
                display: flex;
                justify-content: center;
                align-items: center;
            }
        }

        #time-remaining {
            flex: 1;
            font-size: 3rem;
            margin: 5%;
            padding: 2%;
            border: 2px groove #23221d;
            border-radius: 0.25rem;
            background-color: rgba(255, 255, 255, 0.1);
        }

        .context-items {
            font-size: 1rem;
        }
    }

    .negative {
        color: firebrick;
    }

    .sidebar-tab {
        height: 100vh;
    }
}

#sidebar-tabs {
    .spacer, .item {
        flex: 1;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    #sidebar.collapsed & {
        flex: 1;
        // flex-direction: column;
    }
}