/* ---------------------------- */
/*             Sass             */
/* This is your Sass entry file */
/* ---------------------------- */

/* ---------------------------- */
/* SIDEBAR                      */
/* ---------------------------- */

#sidebar {
    height: auto;
    max-height: 99vh;

    #sidebar-timer {
        text-align: center;
        padding: 5px;

        #timer-controls {
            display: flex;
            flex-direction: row;
            justify-content: space-around;

            a {
                flex: 1;
                height: 32px;
                display: flex;
                justify-content: center;
                align-items: center;
            }
        }

        #time-remaining {
            font-size: 3rem;
            margin: 5%;
            padding: 2%;
            border: 2px groove #23221d;
            border-radius: 0.25rem;
            background-color: rgba(255, 255, 255, 0.1);
        }
    }

    #chat {
        height: 100vh;
    }
}

#sidebar-tabs {
    .spacer, .item {
        flex: 1;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    #sidebar.collapsed & {
        flex: 1;
        // flex-direction: column;
    }
}